{% extends "app_tienda/base.html" %}
    {% block title %} Nuevo cliente {% endblock title %}

    {% block body %}

        <form action="" method="POST">
            {% csrf_token %}

        {% if messages %}
            {% for msg in messages %}
                {{msg}}
            {% endfor %}    
        {% endif %}

        <table>      
            {{form.as_table}}
        </table>    
        <br>  
            <input type="submit" class="btn btn-success" value="Enviar">

        </form>

        <br>

        <h6>¿Es su primera vez comprando con nosostros? <a href="{% url 'app_users:SignUp' %}">Regístrese</a> para continuar!</h6>

    {% endblock body %}